<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KitcheSink.com</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Righteous|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theSink/css/style_login.css' %}">
    <!-- <link rel="stylesheet" href="../static/style_login.css"> -->
</head>

<body>
    <div class="container">
        <h1><span>K</span>itchen<span>S</span>ink.com</h1>
        <div class='login'>
            {% for error in messages %}
            <p style="color:rgb(190, 44, 44); font-weight: bold;">{{ error }}</p>
            {% endfor %}
            <form action="/validate/login" method="POST">
                {% csrf_token %}
                <input type="text" name="userName" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input id="submit" type="submit" value="login">
            </form>
            <p><a href="/registration">Create new account</a></p>
            <p><a>Login help</a></p>
        </div>
    </div>
    <script src="{% static 'theSink/javascript/scripts.js' %}"></script>
</body>

</html>