<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BombRecipes.com</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Righteous|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theSink/css/style_login.css' %}">
</head>

<body>
    <div class="container">
        <h1><span>K</span>itchen<span>S</span>ink.com</h1>
        <div class='login'>
            {% for error in messages %}
            <p style="color: rgb(206, 18, 18); font-weight: bold;">{{error}}</p>
            {% endfor %}
            <form action="/validate/registration" method="POST">
                {% csrf_token %}
                must be at least 4 characters long
                <input type="text" name="userName" placeholder="username">
                <input type="text" name="fName" placeholder="first name">
                <input type="text" name="lName" placeholder="last name">
                <input type="text" name="email" placeholder="email">
                *password must be at least 8 characters
                <input type="password" name="password" placeholder="password">
                and contain at least one letter and one number
                <input type="password" name="confPassword" placeholder="confirm password">
                <input id="submit" type="submit" value="submit">
                <p>Already registerd? <a href="/login"> Login</a></p>
            </form>
        </div>
    </div>
    <script src="{% static 'theSink/javascript/scripts.js' %}"></script>
</body>

</html>