<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new user</title>
    {% load static %}
    <link rel="stylesheet" href="add.css">
    <link rel="stylesheet" href="{% static 'restful/css/add.css' %}">
</head>
<body>
    <div class='container'>
        <h1>Edit User 1</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="firstName" id="firstName" placeholder="First Name">
            <input type="text" name="lastName" id="lastName" placeholder="Last Name">
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="button" class="redBtn" value="Save">
        </form>
        <p><a href="/">Go Back</a></p>
    </div>
</body>
</html>
